
body, .app{
  display: flex;
  width: 100%;
 /* background: $LightBackground;*/
}
.app{
  > div {
    width: 100%;
  }
}
#root{
  width: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
