.Category {
  cursor: pointer;
  flex:1;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  wrap-option: no-wrap;
  padding: 1rem;
  label {
    flex: 1;
    font-size: 1.8rem;
    font-weight: bold;
    color: #c0c0c0;
  }
  img{
    flex:1;
    max-height: 8rem;
  }
  &:hover {
    background: #444;
  }
}

@media (max-width: 600px) {
  .Category {
    label{
      font-size: 1rem;
    }
  }
}