@import '../../styles/styles';

.Header {
  display: flex;
  height: 5rem;
  padding: 0.5rem 0;
  background:$LightBackground;
  justify-content: space-around;
  .HeaderLogo {
    flex: 1;
    display: block;
    img {
      float: left;
      margin-left: 1rem;
      height: 100%;
    }
  }
}

@media (max-width: 600px) {
  .HeaderLogo {
    flex: 1;
  }
}