@import '../../styles/styles';
.Player {
  color: $FontLightColor;
  flex:1;
  display: flex;
  flex-direction: column;
  max-width: 40%;
  .check {
    flex: 1;
    display: flex;
    flex-direction: row;
    img {
      flex: 0;
      width: 100%;
      height: auto;
      display: block;
    }
  }
}

@media (max-width: 600px) {
  .Player {
    .check {
      img {
        width: 75%;
      }
    }
  }
}